.dataTables_info
{
	margin: 17px 16px;
}

.dataTables_paginate
{
	margin: 0 15px 0 0;
}

.dataTables_length
{
	margin: 0 0 0 16px;
}

.dataTables_processing {
	height: 45px !important;
}

.sLength label,
.sFilter label {
	font-weight: normal;
}

.sLength select {
	width: 80px;
	height: 35px;
}

.sFilter {
	text-align: right;
}

.sFilter input {
	width: 220px;
}

table.dataTable tr.odd td.sorting_1 a,
table.dataTable tr.even td.sorting_1 a
{
	color: #fff;
}
table.dataTable tr.odd td.sorting_1 {
	background: #16a085;
	border: 1px solid #16a085;
	color: #fff;
}

table.dataTable tr.even td.sorting_1 {
	background: #1abc9c;
	border: 1px solid #16a085;
	color: #fff;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {

}