html,body {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Arial","Arial";
	font-size: 14px;
	color: #fff;
	background: #edebec;
}

a {
	text-decoration: none !important;
}

.wrapper
{
	width: auto;
	min-width: 780px;
	max-width: 4000px;
	height: 100%;
	margin: 0 auto;
}
.sidebar
{
	width: 200px;
	height: 100%;
	background: #666666;
	float: left;
	box-shadow: inset -2px 0px 7px #2d2d2d;
	/*box-shadow: 2px 2px 2px #2d2d2d;*/
	border-right: 1px solid #2d2d2d;
}

.content
{
	width: 100%;
	height: 100%;
	padding: 15px 15px 0 220px;
	color: #222;
}

.logo
{
	text-align: center;
	margin: 20px 0 50px 0;
}

.logo span
{
	display: block;
	text-align: right;
	margin-right: 28px;
	font-size: 15px;

}

.logo a {
	width: auto;
	display: inline-block;
	font-size: 32px;
	color: #fff;
	text-shadow: 1px 1px 1px #606060;
	font-weight: bolder;
	line-height: 15px;
}

.menu ul
{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.menu ul a
{
	color: #fff;
	font-size: 14px;
	display: block;
	padding: 0 15px;
	margin: 10px 0;
	height: 40px;
	line-height: 40px;
}

.menu ul a.active
{
	background: #333;
}

.title
{
	text-align: center;
	font-size: 32px;
	margin: 30px 0 30px 0;
	font-weight: bolder;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
}

.title .sub-title
{
	font-size: 15px;
	color: #676767;
}

.top-bar
{
	text-align: right;
}

.page-widget
{
	/*height: 300px;*/
	height: auto;
	background: #fff;
	margin: 5px 20px;
	border: 1px solid #ddd;
	padding: 20px;
}

.form-hor .form-group
{
	height: 30px;
}

.clrfx:after {
    content:".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*
* ICONS HERE BELOW
*/

[class^="icon1-"],[class*="icon1-"]
{
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: text-top;
	margin-top: -9px;
	background-repeat: no-repeat;
	background-position: center;
}

.icon1-home
{
	background-image: url(../img/icons/home.png);
}

.icon1-user
{
	background-image: url(../img/icons/user.png);
}

.icon1-cart
{
	background-image: url(../img/icons/cart.png);
}

.icon1-usd
{
	background-image: url(../img/icons/usd.png);
}

.icon1-server
{
	background-image: url(../img/icons/server-info.png);
}
